body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    color: white;
    background: #CF2B28;
    position: fixed;
    top: 0;
    width: 100%;
    height: 92px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top_title{
    display: flex;
    justify-content: flex-start;
    font-family: 'Righteous', cursive;
    font-size: 44px;
    letter-spacing: -0.012em;
    margin: 8px 35% 5px 5%;
}

.top_subtitle{
    display: flex;
    justify-content: flex-start;
    font-family: 'Righteous', cursive;
    font-size: 18px;
    margin: 0 35% 5px 5%;
}

.feed{
    display: flex;
    flex-direction: column;
    margin-top: 92px;
    margin-bottom: 92px;
}
.scroll_title{
    color: #333333;
    font-size: 26px;
    font-family: 'Righteous', cursive;
    line-height: 32px;
    letter-spacing: 0.018em;
    display: flex;
    justify-content: flex-start;
    margin: 28px 35% 17px 5%;
}

.scroll_products{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    overflow-x: scroll;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    background: white;
    height: 202px;
    width: 172px;
    margin: 0 8px 0 8px;
    border-radius: 9px;
}

.product:hover{
    opacity: 0.9;
}

.selected_main_course{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    background-image: url('../images/confirm.svg');
    background-repeat: no-repeat;
    background-position: 144px 175px;
}

.selected_drink{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    background-image: url('../images/confirm.svg');
    background-repeat: no-repeat;
    background-position: 144px 175px;
}

.selected_dessert{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    background-image: url('../images/confirm.svg');
    background-repeat: no-repeat;
    background-position: 144px 175px;
}

.product_image{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin: 18px 14px 8px 14px;
}

.product_image img{
    object-fit: cover;
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.product_title{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin: 0 14px 4px 14px;
}

.product_description{
    font-size: 15px;
    color: #A6A6A6;
    font-weight: 300;
    line-height: 18px;
    margin: 0 14px 5px 14px;
}

.product_price{
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    text-align: start;
    margin: 0 14px 13px 14px;
}

.confirm_box{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 377px;
    height: 353px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirm_box_title{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 21px;
    margin-bottom: 28px;
}

.confirm_box_item{
    display: flex;
    width: 313px;
    justify-content: space-between;
    margin-bottom: 13px;
}

.confirm_box_item_text{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}

.confirm_box_total{
    display: flex;
    width: 313px;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    margin-bottom: 24px;

}

.confirm_box_cancel{
    height: 52px;
    font-size: 20px;
    line-height: 52px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.confirm_box_button{
    height: 52px;
    width: 333px;
    background: white;
    color: #50D074;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    align-items: center;
    line-height: 52px;
    letter-spacing: 0.018em;
    border-radius: 100px;
}

.bottom {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    height: 92px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_text{
    height: 61px;
    width: 364px;
    background: #CBCBCB;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30.5px;
    letter-spacing: 0.018em;
    text-align: center;
    border-radius: 50px;
}


.finished_order{
    background: #32B72F;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 61px;
}